{sub_dirs, ["rel"]}.
{deps, [
        {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.5.3"}}},
        {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", {branch, "master"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.6.1"}}},
        {ranch, ".*", {git, "https://github.com/extend/ranch.git", {tag, "0.4.0"}}}
    ]}.
