{sub_dirs, ["rel"]}.
{deps, [
        {parse_trans, ".*", {git, "https://github.com/uwiger/parse_trans.git", {tag, "2.5.3"}}},
        {gen_leader, ".*", {git, "https://github.com/garret-smith/gen_leader_revival.git", {branch, "master"}}},
        {jiffy, ".*", {git, "https://github.com/davisp/jiffy.git", {tag, "0.8.5"}}},
        {ranch, ".*", {git, "https://github.com/extend/ranch.git", {tag, "0.8.4"}}},
        {ibrowse, ".*", {git, "https://github.com/cmullaparthi/ibrowse.git", {tag, "v4.0.2"}}}
    ]}.
